<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<context-param>
<param-name>t</param-name>
<param-value>90000</param-value>
</context-param>
<context-param>
<param-name>n</param-name>
<param-value>940000</param-value>
</context-param>
<context-param>
<param-name>s</param-name>
<param-value>95000</param-value>
</context-param>
<welcome-file-list>
<welcome-list>input.html</welcome-list>
</welcome-file-list>
</web-app>